
*{
  text-align: center;
}
.item {
    width: 25%;
    float: center;
    margin: 3px;
    padding: 3px;
}
 #navbar {
    background: linear-gradient(254deg, #ee4266, #c4cbca, #3cbbb1);
    background-size: 600% 600%;
    width: 100%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    #colr {
        color: black;
    }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color:#000000d1;
        color: white;
    }
    #colr {
        color: white;
    }
}
#colr, .table-warning, .table-success  {
    font-size: 1.5vw;
}
#colr1, .table-warning, .table-success  {
    font-size: 1.2vw;
}
#colr2, .table-warning, .table-success  {
    font-size: 3vw;
}